[project]
	description = Work
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jeff (zengyee)
[access "refs/for/refs/*"]
	read = group user/jeff (zengyee)
	push = group user/jeff (zengyee)
	label-Code-Review = -2..+2 group user/jeff (zengyee)
	label-Verified = -1..+1 group user/jeff (zengyee)
	rebase = group user/jeff (zengyee)
	removeReviewer = group user/jeff (zengyee)
	submit = group user/jeff (zengyee)
[access "refs/heads/*"]
	read = group user/jeff (zengyee)
	create = group user/jeff (zengyee)
	push = +force group user/jeff (zengyee)
	pushMerge = group user/jeff (zengyee)
[access "refs/tags/*"]
	push = +force group user/jeff (zengyee)
	pushTag = group user/jeff (zengyee)
	pushSignedTag = group user/jeff (zengyee)
