<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MdsDataAccessClientLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MdsDataAccessClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="mdsDataAccessClientListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="MdsDataAccessClientLog.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>      
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MdsCommon" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-31.0.0.0" newVersion="31.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MdsSubscriptionServer.contract" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-31.0.0.0" newVersion="31.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MdsActiveClient" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MdsStorageClient" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
    <MdsDataAccessClientLib.Properties.Settings>
      <setting name="MaxRetry" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MdsEndPoint" serializeAs="String">
        <value>https://monitoring.core.chinacloudapi.cn</value>
      </setting>
      <setting name="DestConnectionString" serializeAs="String">
        <value>Data Source=mcdi01;Initial Catalog=MdsTables;Integrated Security=True</value>
      </setting>
      <setting name="IntervalInMinutes" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="TableNameRegExpr" serializeAs="String">
        <value>FaCounterFiveMinuteNodeTable.*Ver2.*</value>
      </setting>
      <setting name="StartTime" serializeAs="String">
        <value>10/01/2015 00:00:00 AM +00:00</value>
      </setting>
      <setting name="DestTableName" serializeAs="String">
        <value>[dbo].[FaCounterFiveMinuteNodeTable_Staging]</value>
      </setting>
      <setting name="EndTime" serializeAs="String">
        <value>10/16/2015 00:00:00 AM +00:00</value>
      </setting>
    </MdsDataAccessClientLib.Properties.Settings>
    <MdsDataAccessClient.Properties.Settings>
      <setting name="MaxRetry" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MdsEndPoint" serializeAs="String">
        <value>https://monitoring.core.chinacloudapi.cn</value>
      </setting>
    </MdsDataAccessClient.Properties.Settings>
  </userSettings>
</configuration>
